td, input{
    font-size: 8pt; font-family: tahoma;
}

a{
    text-decoration: none;
    color: #3B5998;
}

a:hover{
    text-decoration: underline;
}

form{
    margin: 0px;
    padding: 0px;
}

input_diema{
    text-decoration: none;
    color: #1155CC;
}

a:hover{
    text-decoration: underline;
}

.dvShowTitle {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 3px;
    position: absolute;
    width: 150px;
    border-radius: 3px 3px 3px 3px;
    font-size:  8pt;
    font-family: tahoma;
}

.table
{
    border-top:#525354 solid 0px;
    border-left:#525354 solid 0px;
    border-bottom:#525354 solid 1px;
    border-right:#525354 solid 1px;
    border-spacing:5px;
    border-collapse:collapse;
}

.table .head td a
{
    color:#2E3134;
}

.table .head td
{
    border-top:#DFE5EC solid 1px;
    border-left:#DFE5EC solid 1px;
    border-bottom:#DFE5EC solid 0px;
    border-right:#DFE5EC solid 0px;
    padding:4px;
    color:#2E3134;
    font-weight: bold;

}

.table .head1 td
{
    border-top:#DFE5EC solid 1px;
    border-left:#DFE5EC solid 1px;
    border-bottom:#DFE5EC solid 0px;
    border-right:#DFE5EC solid 0px;
    padding:5px;
    color:#2E3134;   
}

.table td
{
    border-top:#DFE5EC solid 1px;
    border-left:#DFE5EC solid 1px;
    border-bottom:#DFE5EC solid 0px;
    border-right:#DFE5EC solid 0px;
    padding:4px;
}

.table tr:hover{
    background-color: #ff6;
}

.table .none:hover{
    background-color: #ffffff;
}

.table .head:hover, .table .head1:hover{
    background-color: #ffffff;
}

.input_diem{
    width:  30px;
    border: 0px;
    text-align: center;
    background: transparent;
}

.input_diemdanh{
    width:  23px;
    height: 12px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.input_ghichu{
    width:  100%;
    border: 0px;
    text-align: left;
    background: transparent;
}


#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    height: 70px;
    width: 115px;
}
#images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    text-align: center;
}
#images-view .thumb-wrap span {

    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; 
}

#images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef;
    padding: 4px;
}

#images-view .x-item-selected{
    background: #eff5fb;
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    padding-left:20px;
    margin:10px;
}
.x-livesearch-match {
    font-weight: bold;
    background-color: yellow;
}
.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#ff6;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.row-vlign-middle > td {
    vertical-align: middle;
}
.error-validate{background-color: yellow  !important;}

.background-messge{background-color: red !important;}

.eduNotice .content_note .tieu_de {
    line-height: 20px;
}

.eduNotice .notice_content_ht,.eduNotice .notice_content_nt{
    color: rgb(43, 31, 187);
    font-weight: bold;
    font-size: 11px;
}

.eduNotice .content_note .tieu_de td .notice_content_nt{
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.content_container{
    margin: 0px;
    float: left;
    overflow: auto;
    max-height: 300px;
    width: 100%;
    margin-bottom: 5px;
}

.eduNotice{
    margin-bottom: 5px ;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 330px;
    opacity: 1;
    max-height: 370px;
    background:rgb(255, 254, 223);
    border: 2px solid #FFFFFF;
    -moz-box-shadow: -1px 1px 10px 0px #636970;
    box-shadow: -1px 1px 1px 0px #636970;
    border-radius: 5px 5px 5px 5px;
}

.eduNotice table{
    margin-left: 7px;
    clear: both;
}

.eduNotice .title_notice span{
    font-size: 15px;
    font-weight: bold;
    line-height: 37px;
    color: #1F612C;
    float:left;
    margin-left: 7px;
}

.eduNotice .content_note .noi_dung{
    margin-bottom:5px;
    overflow: hidden;
    text-align: justify;
    max-width: 293px;
    float:left;
    cursor:default;

}

.eduNotice .content_note .noi_dung :hover{
    color:red;
}
.eduNotice .content_note .ba_cham{
    float:left;
}
.eduNotice .content_note .ba_cham_hidden{
    display: none;
}

.eduNotice .content_container::-webkit-scrollbar {
    width: 6px;
}
.eduNotice .content_container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(3, 50, 111, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.eduNotice .content_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.icon_arrow_down{
    background-image: url("images/arrow_notice_down.png?r=1");
    background-repeat:no-repeat;
    width:16px;
    height: 16px;
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 1;
    cursor: pointer;
    margin-right: 21px;
    margin-top: 13px;
}

.icon_arrow{
    z-index: 9999;
    background-image: url("images/arrow_notice_up.png?r=1");
    background-repeat:no-repeat;
    width:16px;
    height: 16px;
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 1;
    cursor: pointer;
    margin-right: 21px;
    margin-top: 13px;
}

.notice_refresh{
    z-index: 9999;
    background-image: url("images/refresh.png");
    background-repeat:no-repeat;
    width:16px;
    height: 16px;
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 1;
    cursor: pointer;
    margin-right: 45px;
    margin-top: 9px;
}

.eduNotice .notice_title_ht{
    background-image: url("images/notice_title_nt.png");
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.eduNotice .notice_title_nt{
    background-image: url("images/notice_title_ht.png");
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.noidung_class{
    max-height: none !important;
}

.eduNotice .content_note .tieu_de td{
    vertical-align: top;
}