body{
    height: 100%;
    font-family: arial;
    background-color: #66A4C7;
}

.x-panel-default-framed{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

.x-window-header-text-default{
    color: #ffffff;
}

.x-toolbar-default
{
    background-image: none !important;
    background-color: #F4ECE1 !important;
}

#formEditQuestion .x-toolbar, #startmenu_container .x-toolbar{
    padding: 0;
    border: 0;
    font-size: 12px;
}

.ux-start-button-icon {
    background-image: url(icons/start.png) !important;
    background-color: transparent;
}

.ux-start-button .x-btn-arrow {
    background-image: none;
}

.ux-start-button .x-btn-arrow-right {
    padding-left: 10px;
}

.ux-taskbar {
    padding-left: 4px !important;
    z-index: 99999998;
    background-color: #D8A150 !important;
    background-image: none;
    background-repeat: repeat-x;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

.ux-taskbar .x-toolbar-default
{
    background-color: #D8A150 !important;
}
.ux-taskbar .x-btn-inner, .ux-taskbar .x-toolbar-text{
    color:#31302E !important;
}

.x-menu{z-index: 99999999 !important;}
/*
    Start Button (Black)
*/
.ux-desktop, .ux-desktop div{
    background-color: transparent;
}

.ux-desktop-black .ux-start-button {
    height: 28px;
    padding: 0px;
    display: block;
}

.ux-desktop-black .ux-start-button em {
    margin-top: 5px;
}

.ux-desktop-black .ux-start-button .x-btn-inner {
    color: black;
    font-size:11px;
    font-weight: bold;
}

.ux-desktop-black .ux-start-button {
    background-image: -moz-linear-gradient(center top , #E4F3FF, #D9EDFF 48%, #C2D8F2 52%, #C6DCF6);
    border-radius: 8px 8px 8px 8px;
    border-color: #81A4D0;
}

/*----------------------------------------------------
    Start Menu
*/

#startmenu_container .x-menu-icon-separator
{
    display: none;
}
.ux-start-menu-toolbar .x-btn-inner {
    text-align: left;
}

.ux-start-menu-toolbar {
    padding: 4px !important;
    
}
#startmenu_container
{
    padding: 0px;
    border: solid 1px #90B2E4;    
    border-bottom: 1px;
    margin-top: -4px;
    margin-left: -3px;
}

/*----------------------------------------------------
    TaskBar
*/

.ux-taskbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.x-ie6 .ux-taskbar .x-toolbar {
    border-color: #d3e1f1;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.ux-taskbar .x-toolbar {
    height: 28px;
}

.ux-taskbar {
    height: 28px;
    padding: 0;
}

.x-toolbar .x-toolbar {
    padding: 0;
}

/*
    TaskBar (Black)
*/

.ux-desktop-black .ux-taskbar {
    background: transparent url('../images/taskbar/black/taskbar-start-panel-bg.gif') repeat-x left top;
    border-color: transparent;
    /*height: 30px;*/
}

.ux-desktop-black .ux-taskbar .x-splitter {
    background: transparent url(../images/taskbar/black/taskbar-split-h.gif) no-repeat scroll 0 -2px;
}

.ux-desktop-black .ux-taskbar .x-toolbar-text {
    color: white !important;
}

.ux-desktop-black .ux-taskbar .x-btn-default-toolbar-small-over {
    background-color: yellow;
}

.ux-desktop-black .ux-taskbar .x-btn-inner {
    color: white;
}

.ux-desktop-black .ux-taskbar .x-btn-pressed .x-btn-inner, .ux-taskbar .x-btn-over .x-btn-inner {
    color: black;
}

/*----------------------------------------------------
    Tray Clock
*/

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {
    background-color: transparent;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
    background-position: bottom;
}

.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 64px;
    float: left;
    position: absolute;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;     
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
    text-shadow: 0px 0px 5px #2E3134;
    font-weight: bold;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: none;
}

.notepad {
    background-image: url(icons/application-blue16.png) !important;
}

.logout {
    background-image: url( ../images/logout.gif ) !important;
}

.settings {
    background-image: url( ../images/gears.gif ) !important;
}

.add {
    background-image:url(../images/icons/fam/add.gif) !important;
}
.option {
    background-image:url(../images/icons/fam/plugin.gif) !important;
}
.remove {
    background-image:url(../images/icons/fam/delete.gif) !important;
}
.save {
    background-image:url(../images/icons/save.gif) !important;
}
.accordion {
    background-image:url(../images/accordian.gif) !important;
}
.tabs {
    background-image:url(../images/tabs.gif) !important;
}

/*----------------------------------------------------
    IM window icons
*/

.user {
    background-image:url( ../images/icons/fam/user.gif ) !important;
}

.user-add {
    background-image:url(../images/icons/fam/user_add.gif) !important;
}

.user-delete {
    background-image:url(../images/icons/fam/user_delete.gif) !important;
}

.connect {
    background-image:url(../images/icons/fam/connect.gif) !important;
}

.user-girl {
    background-image:url(../images/icons/fam/user_female.gif) !important;
}

.user-kid {
    background-image:url(../images/icons/fam/user_green.gif) !important;
}

.user-suit {
    background-image:url(../images/icons/fam/user_suit.gif) !important;
}

.disable-row .x-grid-cell-inner{
	font-weight:bold;
}

.x-window-body-default
{
}

.icon-vi {
    background-image:url(icons/nam/VI.gif) !important;
    background-position: 0 2;
}

.icon-en {
    background-image:url(icons/nam/EN.gif) !important;
    background-position: 0 2;
}

.ux-desktop-active-win
{
    
}

.ux-desktop-inactive-win{
}

#win-edu-start-menu .x-tree-elbow-end, #win-edu-start-menu .x-tree-elbow
{
    width: 6px;
}

#win-edu-start-menu .x-grid-cell-first .x-grid-cell-inner
{    
    margin-top: 3px;
}

.teacher{
    background-image: url(icons/teacher-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.so_diem{
    background-image: url(images/32/02/calendar_view_day.png);
    background-repeat: no-repeat;
    background-position: center;
}

.diem_danh{
    background-image: url(icons/diem_danh32.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hanh_kiem{
    background-image: url(images/32/02/chart_up_color.png);
    background-repeat: no-repeat;
    background-position: center;
}

.diem_tk{
    background-image: url(icon/table_sum.png?r=1);
    background-repeat: no-repeat;
    background-position: center;
}

.danh_hieu{
    background-image: url(images/32/02/select_by_color.png);
    background-repeat: no-repeat;
    background-position: center;
}

.xep_hang{
    background-image: url(images/32/02/price_comparison.png);
    background-repeat: no-repeat;
    background-position: center;
}

.len_lop{
    background-image: url(images/32/02/application_view_columns_1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sms_sender{
    background-image: url(images/32/02/phone_sound.png);
    background-repeat: no-repeat;
    background-position: center;
}

.album_image{
    background-image: url(images/32/02/application_view_gallery.png);
    background-repeat: no-repeat;
    background-position: center;
}

.giao_vien{
    background-image: url(images/32/02/client_account_template.png);
    background-repeat: no-repeat;
    background-position: center;
}

.tra_cuu{
    background-image: url(images/32/02/page_white_magnify.png);
    background-repeat: no-repeat;
    background-position: center;
}

.forum{
    background-image: url(icons/forum.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Tien dd*/

.x-action-col-icon{
    cursor: pointer;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('icons/nam/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('icons/nam/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}


.TextEdit{
    background-image: url(icons/Application-Default-Icon-32.png);
    background-repeat: no-repeat;
    background-position: center;
}

.computer{
    background-image: url(icon/MyComputer.png);
    background-repeat: no-repeat;
    background-position: center;
}

.music{
    background-image: url(icon/music.png);
    background-repeat: no-repeat;
    background-position: center;
}

.recycle{
    background-image: url(icon/edittrash.png);
    background-repeat: no-repeat;
    background-position: center;
}

.alarm{
    background-image: url(icon/alarm.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sms32{
    background-image: url(icon/phone.png);
    background-repeat: no-repeat;
    background-position: center;
}

.trophy{
    background-image: url(icon/trophy.png);
    background-repeat: no-repeat;
    background-position: center;
}


.award_star_gold{
    background-image: url(icon/award_star_gold_3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.award_star_gold1{
    background-image: url(icon/award_star_bronze_1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.to_do_list{
    background-image: url(icon/issue.png);
    background-repeat: no-repeat;
    background-position: center;
}

.text_list_numbers{
    background-image: url(icon/text_list_numbers.png);
    background-repeat: no-repeat;
    background-position: center;
}

.table_sum{
    background-image: url(icon/sum.png);
    background-repeat: no-repeat;
    background-position: center;
}

.table_sum{
    background-image: url(icon/sum.png);
    background-repeat: no-repeat;
    background-position: center;
}

.select32{
    background-image: url(icon/Select.png);
    background-repeat: no-repeat;
    background-position: center;
}

.featured32{
    background-image: url(icon/featured.png);
    background-repeat: no-repeat;
    background-position: center;
}

.user32{
    background-image: url(icon/user.png);
    background-repeat: no-repeat;
    background-position: center;
}

.invoice32{
    background-image: url(icon/invoice.png);
    background-repeat: no-repeat;
    background-position: center;
}

.suppliers32{
    background-image: url(icon/suppliers.png);
    background-repeat: no-repeat;
    background-position: center;
}

.archives32{
    background-image: url(icon/archives.png);
    background-repeat: no-repeat;
    background-position: center;
}

.order32{
    background-image: url(icon/order-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.customers32{
    background-image: url(icon/customers.png);
    background-repeat: no-repeat;
    background-position: center;
}

.check32{
    background-image: url(icon/finished-work.png);
    background-repeat: no-repeat;
    background-position: center;
}

.flag32{
    background-image: url(icon/flag.png);
    background-repeat: no-repeat;
    background-position: center;
}

.excel16{
    background-image: url(images/excel.png);
    background-repeat: no-repeat;
    background-position: center;
}

.action16{
    background-image: url(images/action.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.support{
    background-image: url(images/support.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}

.dashboard
{
    position: absolute;
    right: 0px;
    top : 0px;   
    width: 570px;
    bottom: 36px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity:1;
    filter:alpha(opacity=100);
    background-color: #F7F3F3;
}

.support
{
    position: absolute;
    right: 6px;
    height: 44px;
    width: 160;
    bottom: 36px;
    background-color: #333333;
    cursor: pointer;
}

.quangcao_nen
{
    position: absolute;
    right: 0px;
    top : 0px;   
    width: 160px;
    opacity:1;
    filter:alpha(opacity=100);
}

.rss_go {
    background-image:url(../images/icons/fam/rss_go.png) !important;
}

.wraptext .x-grid-cell-inner, .wraptext .x-grid-hd-inner {
  white-space: normal;
}

.x-grid-cell-inner, .wraptext .x-grid-hd-inner {
  line-height: 16px;
  -moz-user-select:text;
}

.x-grid-cell-inner, .x-selectable {
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -webkit-user-select: text !important;
}

.form-buttons{
    border-top-width: 1px !important;
    border-top-color: #C5D9F2;
    border-top-style: solid;
    padding: 5px;
    background-color: #D8E5F3;
}

.x-css-shadow
{
    box-shadow: rgb(56, 50, 50) 0px 0px 10px 2px;
}