/* 
    Document   : login
    Created on : Mar 1, 2013, 8:48:07 AM
    Author     : LUONGNGOCTHANH
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background: url(bgloginsms.jpg) top center no-repeat;
    background-color: white;
    background-size: 100% 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
     overflow-y: auto;
}
.panellogin{
    padding: 0px; 
    width: 300px; 
    overflow: hidden; 
    float: right; 
    background: white;
    padding: 5px;
    position: absolute;
    top: 50%;
    border: 1px solid #9D9B9B;
    -webkit-box-shadow: 3px 3px 5px 6px #CCC;
    box-shadow: -1px 2px 4px 2px #CCC;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
}

